<div class="container">
  <button class="ml-2 mt-4 tp-input-submit tp-input-btn" (click)="navigateToDrugsForm()">Add drug</button>
  <table class="tp-users-table mt-4" border="1">
    <tr>
      <th class="p-3">First name</th>
      <th class="p-3">Last name</th>
      <th class="p-3">Phone number</th>
      <th class="p-3">Email</th>
      <th class="p-3">Actions</th>
    </tr>
    <tr *ngFor="let i of items">
      <td class="p-3">Ivan</td>
      <td class="p-3">Ivanov</td>
      <td class="p-3">+380863994567</td>
      <td class="p-3">ivan@gmail.com</td>
      <td class="p-3">
        <i class="fa fa-pencil tp-table-action" aria-hidden="true"></i>
        <i class="fa fa-trash-o tp-table-action ml-2" aria-hidden="true"></i>
      </td>
    </tr>
  </table>
  <!--<div *ngFor="let i of items" class="tp-list-item p-2 mt-4">-->
  <!--<div>Ivan Ivanov</div>-->
  <!--<div>+380863994567</div>-->
  <!--<div>ivan@gmail.com</div>-->
  <!--</div>-->
</div>
