.tp-grid-item {

  font-size: 0.9rem;
  color: rgb(77, 77, 77);

  &:hover {
    transition-property: box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    box-shadow: 0 0 10px 1px #ccc;
  }
}

.tp-purchase-label {
  opacity: 0.5;
  cursor: pointer;
}
